

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    padding: 1.5rem;
}

.card {
    width: 100%;
    max-width: 320px;

    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1rem 1rem 2rem;
    text-align: center;

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
}

.card__img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.card__title {
    font-size: 1.35rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0.9rem;
}

.card__text {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(216, 15%, 48%);
}

@media (min-width: 768px) {
    .card {
        max-width: 360px;
        padding: 1.2rem 1.2rem 2.1rem;
    }

    .card__title {
        font-size: 1.4rem;
    }

    .card__text {
        font-size: 1rem;
    }
}
